<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/milligram.css">
  <link rel="stylesheet" href="styles/styles.css">
  <title>Add Book</title>
</head>

<body>
  <section class="add-book-form">
    <h1>Add Book</h1>
    <form class="form" action="/add" method="post">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" class="text">
      <label for="author">Author</label>
      <input type="text" name="author" id="author" class="text">
      <label for="imageURL">Image URL</label>
      <input type="text" name="imageURL" id="imageURL" class="text">
      <label for="Description">Description</label>
      <textarea name="description" id="description" cols="30" rows="10" class="text"></textarea>
      <input type="submit" value="Add Book" class="button">
    </form>
  </section>
</body>

</html>